page-about {
    .btnremove{
        position: absolute;
        right: 15px;
        top: 25px;
        background: rgba(211, 47, 47, 0);
        color: #d32f2f;
        width: 45px;
        height: 35px;
        font-size: 20pt;
    }
}
