$widthBtnRegistrer: 48%;
page-login {
    ion-item{
        padding-left: 0px !important;
    }
    .btnLogin{
        background: #4CAF50;
    }
    .btnLoginFacebook{
        background: #4267b2;
        width: $widthBtnRegistrer;
    }
    .btnLoginMail{
        background: #424242;
        width: $widthBtnRegistrer;
    }
    .logo-principal {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }  
    .espacioRegistros{position: relative;top: 80px;}
    .titleregistro{font-size: 12pt;color: #8a8a8a;}
    .btnlogin{margin-top: 20px;background: #4CAF50;}
}
