<ion-header>
  <ion-navbar>
    <ion-title>Registrarme</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="validaFormRegistro" (ngSubmit)="crearCuentaEmail()" novalidate>
    <ion-list>
        <!--Bloque para optener el usuario-->
        <ion-item>
          <ion-label floating>Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="validaFormRegistro.get('email').errors && validaFormRegistro.get('email').dirty">
            <p color="danger" ion-text *ngIf="validaFormRegistro.get('email').hasError('required')"><ion-icon name="close-circle"></ion-icon> campo obligatorio</p>
            <p color="danger" ion-text *ngIf="validaFormRegistro.get('email').hasError('email')"><ion-icon name="close-circle"></ion-icon> ingresa un correo valido</p>
        </ion-item>
        <!--Bloque para optener el password-->
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="validaFormRegistro.get('password').errors && validaFormRegistro.get('password').dirty">
          <p color="danger" ion-text *ngIf="validaFormRegistro.get('password').hasError('required')"><ion-icon name="close-circle"></ion-icon> campo obligatorio</p>
          <p color="danger" ion-text *ngIf="validaFormRegistro.get('password').hasError('pattern')"><ion-icon name="close-circle"></ion-icon> contraseña poco segura</p>
        </ion-item>
        <button ion-button block medium color="secondary"  class="btnlogin" [disabled]="validaFormRegistro.invalid">REGISTRARME AHORA</button>
    </ion-list>
  </form>
</ion-content>
