page-pizzerias {
    ion-card-title {
        font-weight: bold;
        padding: 0px 0 !important;
    }
    .infoDetails {
        display: inline-block;
        width: 49%;
    }
    .infoDetails label {
        font-weight: bold;
    }
}
