page-menu-pizzeria {
    ion-icon {
        display: inline-block;
        font-size: 1.2em;
        margin-right: 5px;
    }
    ion-label {
        margin: 0;
        display: block;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: normal;
    }
    .ocultarbtn{
        display: none;
    }
    .showAdded{
        display: none;
    }
    .cantidadPizzas{
        display: block;
        width: 100%;
    }
    .totalPizzas{
        display: inline-block;
    }
    .cantidadP {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
    }
    .masPizza{
        color: #388E3C;
    }
    .menosPizza{
        color: #C62828;       
    }
    p.titleCantidad {
        font-weight: bold;
    }        
}
