<ion-header>
  <ion-navbar>
    <ion-title>Informacion de tu perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="validaInfoProfile" (ngSubmit)="infoProfile()" novalidate>
    <ion-list>
      <!--Bloque para ingresar el usuario-->
      <ion-item>
        <ion-label floating>Nombre Completo</ion-label>
        <ion-input type="text" [(ngModel)]="nombre_completo" formControlName="nombre_completo"></ion-input>
      </ion-item>
      <ion-item *ngIf="validaInfoProfile.get('nombre_completo').errors && validaInfoProfile.get('nombre_completo').dirty">
        <p color="danger" ion-text *ngIf="validaInfoProfile.get('nombre_completo').hasError('required')"><ion-icon name="close-circle"></ion-icon> campo obligatorio</p>
        <p color="danger" ion-text *ngIf="validaInfoProfile.get('nombre_completo').hasError('pattern')"><ion-icon name="close-circle"></ion-icon> solo se adapmite texto</p>
      </ion-item>
      <!--Bloque para ingresar el password-->
      <ion-item>
        <ion-label floating>Telefono</ion-label>
        <ion-input type="number" [(ngModel)]="telefono" formControlName="telefono"></ion-input>
      </ion-item>
      <ion-item *ngIf="validaInfoProfile.get('telefono').errors && validaInfoProfile.get('telefono').dirty">
        <p color="danger" ion-text *ngIf="validaInfoProfile.get('telefono').hasError('required')"><ion-icon name="close-circle"></ion-icon> campo obligatorio</p>
        <p color="danger" ion-text *ngIf="validaInfoProfile.get('telefono').hasError('minLength')"><ion-icon name="close-circle"></ion-icon> Ingresa un numero telefonico minimo de 10 digitos</p>
        <p color="danger" ion-text *ngIf="validaInfoProfile.get('telefono').hasError('maxLength')"><ion-icon name="close-circle"></ion-icon> Ingresa un numero telefonico maximo de 10 digitos</p>
      </ion-item>
      <!--Bloque para ingresar la direccion-->
      <ion-item>
        <ion-label floating>Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="direccion" formControlName="direccion"></ion-input>
      </ion-item>
      <ion-item *ngIf="validaInfoProfile.get('direccion').errors && validaInfoProfile.get('direccion').dirty">
        <p color="danger" ion-text *ngIf="validaInfoProfile.get('direccion').hasError('required')"><ion-icon name="close-circle"></ion-icon> campo obligatorio</p>
      </ion-item>
      <button ion-button block medium color="secondary"  class="btnlogin">GUARDAR</button>
    </ion-list>
  </form>
</ion-content>
